<div class="title-icons" *ngIf="show">
    <button matTooltip="Remind me" class="top-icons" [matMenuTriggerFor]="reminder" #menuTrigger="matMenuTrigger">
        <span>
            <img class="side-icons" src="../../../assets/icons/add_alert_FILL0_wght400_GRAD0_opsz48.svg">
        </span>
    </button>

    <mat-menu class="reminder-menu" #reminder="matMenu" (click)="$event.stopPropagation()" >
        <div class="remind-Menu">Reminder
            <button mat-menu-item class="remind-btns" (click)=" setDate(0)" *ngIf="isRemind">
                <div class="remind-item">
                    <span> Later Today</span>
                    <span> 8:00PM </span>
                </div>
            </button>
            <button mat-menu-item class="remind-btns" (click)="setDate(1)">
                <div class="remind-item">
                    <span> Tommrow </span>
                    <span> 8:00AM </span>
                </div>
            </button>

            <button mat-menu-item class="remind-btns" (click)="setDate(daysUntilNextMonday)">
                <div class="remind-item">
                    <span> Next Week </span>
                    <span> Mon,8:00AM </span>
                </div>
            </button>

            <button mat-menu-item class="remind-btns" [matMenuTriggerFor]="dateTime" #menuTrigger="matMenuTrigger" >
                <div class="remind-item-icons">
                    <span>
                        <img class="remind-icons" src="../../../assets/icons/schedule_FILL0_wght400_GRAD0_opsz48.png"
                            alt="Schedule">
                    </span>
                    <span> Pick date & time </span>
                </div>
                
            </button>

            <button mat-menu-item class="remind-btns">
                <div class="remind-item-icons">
                    <span>
                        <img class="remind-icons" src="../../../assets/icons/location_on_FILL1_wght400_GRAD0_opsz48.svg"
                            alt="location">
                    </span>
                    <span> Pick place </span>
                </div>
                
            </button>
        </div>
    </mat-menu>
    <mat-menu class="date-menu" #dateTime="matMenu" (click)="$event.stopPropagation()" [hasBackdrop]="false"[overlapTrigger]="false">
        <div mat-menu-item>
            
            <mat-form-field>
                <input matInput [matDatepicker]="picker3" [value]="date" [(ngModel)]="selectDate">
                <mat-datepicker-toggle matIconSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>
        </div>
        <div class="selectLabel" (click)="$event.stopPropagation()">
            <mat-form-field class="options" >
                <input matInput  *ngIf="showOptions" type="time" [(ngModel)]="remindTime" >
                <mat-select value="8:00AM" *ngIf="!showOptions" [(ngModel)]="remindTime2">
                <!-- <mat-select value="8:00AM"> -->
                  <mat-option [value]="8">
                    <div class="remind-item">
                        <span> Morning </span>
                        <span> 8:00AM </span>
                    </div>
                  </mat-option>
                  <mat-option [value]="13">
                    <div class="remind-item">
                        <span> Afternoon </span>
                        <span> 1:00PM </span>
                    </div>
                  </mat-option>
                  <mat-option [value]="18">
                    <div class="remind-item">
                        <span> Evening </span>
                        <span> 6:00PM </span>
                    </div>
                  </mat-option>
                  <mat-option [value]="20">
                    <div class="remind-item">
                        <span> Night </span>
                        <span> 8:00PM </span>
                    </div>
                  </mat-option>
                  <mat-option >
                    <div class="remind-item" (click)="toggleOptions()">
                        <span> custom </span>
                    </div>
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="selectLabel" (click)="$event.stopPropagation()">
            <mat-form-field class="options">
                <mat-select value="Do not repeat">
                  <mat-option value="Do not repeat">
                    <div class="remind-item">
                        <span> Do not repeat </span>
                    </div>
                  </mat-option>
                  <mat-option value="1:00PM">
                    <div class="remind-item">
                        <span> Daily </span>
                    </div>
                  </mat-option>
                  <mat-option value="6:00PM">
                    <div class="remind-item">
                        <span> Monthly </span>
                    </div>
                  </mat-option>
                  <mat-option value="1:00PM">
                    <div class="remind-item">
                        <span> yearly </span>
                    </div>
                  </mat-option>
                  <mat-option value="1:00PM">
                    <div class="remind-item">
                        <span> custom </span>
                    </div>
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </div>
        <div class="save-btn">
            <button mat-button (click)="AddNoteReminder()">Save</button>
        </div>
        
    </mat-menu>

    <button matTooltip="collabrator" class="top-icons" (click)="openDialog()">
        <span>
            <img class="side-icons" src="../../../assets/icons/person_add_FILL0_wght400_GRAD0_opsz48.svg">
        </span>
    </button>
    <button [matMenuTriggerFor]="color" matTooltip="background options" class="top-icons">
        <span class="button-icon">
            <img class="side-icons" src="../../../assets/icons/palette_FILL0_wght400_GRAD0_opsz48.svg">
        </span>
    </button>
    <button matTooltip="add image" class="top-icons">
        <span>
            <img class="side-icons" src="../../../assets/icons/image_FILL0_wght400_GRAD0_opsz48.svg">
        </span>
    </button>
    <button matTooltip="archive" class="top-icons" (click)="archivenote()">
        <span>
            <img class="side-icons" src="../../../assets/icons/archive_icon.svg">
        </span>
    </button>
    <button [matMenuTriggerFor]="menu" matTooltip="more" class="top-icons" (menuOpened)="onMenuOpened()">
        <span>
            <img class="side-icons" src="../../../assets/icons/more_vert_FILL0_wght400_GRAD0_opsz48.svg">
        </span>
    </button>

    <mat-menu class="more-menu" #menu="matMenu" (click)="$event.stopPropagation()">
        <button mat-menu-item (click)="Delete()">Delete note</button>
        <button mat-menu-item [matMenuTriggerFor]="label" #menuTrigger="matMenuTrigger" (menuClosed)="onMenuClosed()"
            (click)="$event.stopPropagation()" > {{labelTitle?'Add label':'change label'}}</button>

        <button mat-menu-item>Add drwaing</button>
        <button mat-menu-item>Make a copy</button>
        <button mat-menu-item>show checkboxs</button>
        <button mat-menu-item>copy to google docs</button>
    </mat-menu>

    <mat-menu class="label-menu" #label="matMenu" (click)="$event.stopPropagation()" >

        <div class="label-Radio" (click)="$event.stopPropagation()">Label note
            <input class="search-input" placeholder="Enter the Label" type="search" (keyup)="searchLabel($event)">
            <div *ngFor="let labels of labelArray">
                <mat-checkbox class="check-btn" (click)="selectLabel($event,labels.id)" [checked]="checkedLabels.includes(labels.id)">{{labels.label}}</mat-checkbox>7

            </div>
        </div>
    </mat-menu>

    <mat-menu class="color-menu" #color="matMenu">
        <div class="color-menu" type="mat-nav-list">
            <button class="colors" (click)="noteColor('#fff')">
                <mat-icon>format_color_reset</mat-icon>
            </button>
            <button class="colors" (click)="noteColor('#f28b82')" style="background-color: #f28b82;"></button>
            <button class="colors" (click)="noteColor('#fbbc04')" style="background-color: #fbbc04;"></button>
            <button class="colors" (click)="noteColor('#fff475')" style="background-color: #fff475;"></button>
        </div>
        <div class="color-menu" type="mat-nav-list">
            <button class="colors" (click)="noteColor('#ccff90')" style="background-color: #ccff90;"></button>
            <button class="colors" (click)="noteColor('#a7ffeb')" style="background-color: #a7ffeb;"></button>
            <button class="colors" (click)="noteColor('#cbf0f8')" style="background-color: #cbf0f8;"></button>
            <button class="colors" (click)="noteColor('#aecbfa')" style="background-color: #aecbfa;"></button>
        </div>
        <div class="color-menu" type="mat-nav-list">
            <button class="colors" (click)="noteColor('#d7aefb')" style="background-color: #d7aefb;"></button>
            <button class="colors" (click)="noteColor('#fdcfe8')" style="background-color: #fdcfe8;"></button>
            <button class="colors" (click)="noteColor('#e6c9a8')" style="background-color: #e6c9a8;"></button>
            <button class="colors" (click)="noteColor('#e8eaed')" style="background-color: #e8eaed;"></button>
        </div>
    </mat-menu>
    <div class="title-icons" *ngIf="!show">
        <button matTooltip="Delete Forever" (click)="deleteForver()" class="top-icons">
            <span>
                <img class="side-icons" src="../../../assets/icons/delete_forever_FILL0_wght400_GRAD0_opsz48.svg">
            </span>
        </button>
        <button matTooltip="restore" (click)="restore()" class="top-icons">
            <span>
                <img class="side-icons" src="../../../assets/icons/restore_from_trash_FILL0_wght400_GRAD0_opsz48.svg">
            </span>
        </button>
    </div>