<div class="main">
    <form>
        <div class="form-content">
            <span class="logo-title">
                <span style="color: blue;">G</span>
                <span style="color:red ;">o</span>
                <span style="color:yellow ;">o</span>
                <span style="color: blue;">g</span>
                <span style="color: green;">l</span>
                <span style="color: red;">e</span>
            </span>
            <span class="form-title">Change Password</span>
            <span class="form-heading">
                Create a strong password
            </span>
            <span class="info">
                Create a new, strong password that you don't use for other websites
            </span>
            <div class="password">
                <mat-form-field class="mat-outline" appearance="outline">
                    <mat-label>Create Password</mat-label>
                    <input matInput placeholder="">
                </mat-form-field>
                <mat-form-field class="mat-outline" appearance="outline">
                    <mat-label>Confirm</mat-label>
                    <input matInput placeholder="">
                    <mat-hint>At least 8 characters</mat-hint>
                </mat-form-field>
                <div>
                    <section class="checkbox-section">
                        <mat-checkbox>Show Password</mat-checkbox>
                    </section>
                </div>
            </div>
            <div class="btn">
                <div>
                    <button mat-button color="primary" routerLink="/app-signup">Skip</button>
                </div>
                <div>
                    <button mat-raised-button color="primary" onclick="">Save password</button>
                </div>
            </div>
        </div>
    </form>
</div>