<div class="main">
    <form>
        <div class="form-content">
            <span class="logo-title">
                <span style="color: blue;">G</span>
                <span style="color:red ;">o</span>
                <span style="color:yellow ;">o</span>
                <span style="color: blue;">g</span>
                <span style="color: green;">l</span>
                <span style="color: red;">e</span>
            </span>
            <span class="form-title">Change Password</span>
            <span>
                Create a strong password
            </span>
            <span>
                Create a new, strong password that you don't use for other websites
            </span>
        </div>
    </form>
</div>
