input{
    width: 100%;
    font-size: 18px;
    font-family: "Roboto",arial,sans-serif;
    border: none;
    outline: none;
}
.note{
    min-height: 60px;
}

.icons{
    gap: 70px;

}

@media only screen and (max-width: 600px){
    .icons{
        gap: 40px;
    }
}