.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  mat-toolbar.mat-primary{
    width: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    color: #5f6368;
    background: #fff;
    
  }

  .toolbar-left{
    padding-right: 30px;
    display: flex;
    box-sizing: border-box;
  }

  .toolbar-right{
    display: flex;
    gap: 30px;
  }

  .app-Logo{
    display: flex;
    align-items: center;
    font-family: Product Sans,Arial,sans-serif;
    font-size: 22px;
    line-height: 24px;
    background-color: #ffff;
    cursor: pointer;
  }

  .app-name {
    margin: 0;
    margin-left:8px;
    color: #5f6368;
  }

  .side-menu{
    width: 300px;
  }

  .side-title{
    margin-left: 16px;
    display: flex;
    align-items: center;
    //background: #feefc3;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    cursor: pointer;
  }

  .side-icons{
    width: 24px;
    height: 24px;
    display: flex;
  }

  @media only screen and (max-width: 500px) {

    .logo-img{
      width: 40px;
    height: 40px;
    }
    .app-name{
      font-size: 20px;
    }
    .toolbar-left{
      padding-right: 20px;
    }
    .toolbar-right{
      padding-right: 10px;
      gap: 5px;
    }
    .right1{
      display: flex;
      gap: 10px;
    }

    .top-icons{
      width: 30px;
    }
  }