<div class="takenote">
    <div class="note">
        <mat-card class="note-title">
            <mat-card-content class="title-content" *ngIf="!show">
                <input class="title-text" type="text" [(ngModel)]="Title" placeholder="Title">
                <div class="title-icons" *ngIf="!show">
                    <button mat-icon-button matTooltip="pin note"
                        class="top-icons"><mat-icon>push_pin</mat-icon></button>
                </div>
            </mat-card-content>
            <mat-card-content class="title-content" *ngIf="!show || show" (click)="showing()">
                <input class="title-text" type="text" [(ngModel)]="description" placeholder="Take a note...">
                <div class="title-icons" *ngIf="show">
                    <button mat-icon-button matTooltip="note with checkbox"
                        class="top-icons"><mat-icon>check_box</mat-icon></button>
                    <button mat-icon-button matTooltip="note with drawing"
                        class="top-icons"><mat-icon>brush</mat-icon></button>
                    <button mat-icon-button matTooltip="note with image"
                        class="top-icons"><mat-icon>image</mat-icon></button>
                </div>
            </mat-card-content>
            <mat-card-actions *ngIf="!show">
                <app-icons></app-icons>
                <button mat-button matTooltip="Close and Save" (click)="closenote()">Close</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div>
        <div class="note">
            <mat-card class="note-title">

            </mat-card>
        </div>
    </div>
</div>