<div class="takenote">
    <div class="note">
        <mat-card class="note-title" [style.background-color]="backgroundColor">
            <mat-card-content class="title-content" *ngIf="!show">
                <input class="title-text1" type="text" [(ngModel)]="Title" placeholder="Title" [style.background-color]="backgroundColor">
                <div class="title-icons" *ngIf="!show">
                    <button mat-icon-button matTooltip="pin note"
                        class="top-icons"><mat-icon>push_pin</mat-icon></button>
                </div>
            </mat-card-content>
            <mat-card-content class="title-content" *ngIf="!show || show" (click)="showing()" >
                <input class="title-text" type="text" [(ngModel)]="description" placeholder="Take a note..." [style.background-color]="backgroundColor">
                <div class="title-icons" *ngIf="show">
                        <button matTooltip="note with checkbox" class="top-icons">
                            <span>
                                <img class="note-icons" src="../../../assets/icons/check_box_FILL0_wght400_GRAD0_opsz48.svg">
                            </span>
                        </button>
                        <button matTooltip="note with drawing" class="top-icons">
                            <span>
                                <img class="note-icons" src="../../../assets/icons/brush_FILL0_wght400_GRAD0_opsz48.svg">
                            </span>
                        </button>
                        <button matTooltip="note with image" class="top-icons">
                            <span>
                                <img class="note-icons" src="../../../assets/icons/image_FILL0_wght400_GRAD0_opsz48.svg">
                            </span>
                        </button>
                </div>
            </mat-card-content>
            <mat-card-actions *ngIf="!show">
                <div class="icons">
                    <app-icons (backgroundColorChanged)="onBackgroundColorChanged($event)"></app-icons>
                </div>
                <button class="closeButton" mat-button matTooltip="Close and Save" (click)="closenote()">Close</button>
            </mat-card-actions>
        </mat-card>
    </div>

    <div>
        <div class="note">
            <mat-card class="note-title">

            </mat-card>
        </div>
    </div>
</div>