.display{
    margin: 3%;
}
.displaynote{
    display: flex;
    flex-wrap: wrap;
    color: #5f6368;
}

.note-title{
    margin: 16px;
    width: max-content;
    min-height: 107px;
    min-width: 208px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img{
    color: #5f6368;
}
.title-content{
    font-weight: 500;
    line-height: 24px;
    font-size: 16px;
}


.mdc-card__actions{
    padding: 4px;
    visibility: collapse;
    min-height: 0;
}

.card:hover{
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 2px 6px 2px rgba(60,64,67,0.149);
}

.card:hover .mdc-card__actions{
    visibility: visible;
    
}