.display{
    margin: 3%;
}
.displaynote{
    display: flex;
    flex-wrap: wrap;
    color: #5f6368;
}

.note-title{
    margin: 16px;
    width: max-content;
    min-height: 107px;
    min-width: 208px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

img{
    color: #5f6368;
}

// .icons{
//     color: #5f6368;
//     visibility: hiddden;
// }

// .icons:hover{
//     visibility: visible;
// }

// .note-title:hover{
//     visibility: visible;
// }