<div class="display">
    <div class="displaynote" [ngClass]="{'viewDisplay':view}">

        <mat-card class="note-title" [ngClass]="{'viewCard':view}" *ngFor="let note of displayallnotes | searchnote:searchText" [style.background-color]="note.color">
            <div class="card"  >
                <div >
                    <mat-card-content class="title-content">
                        <span (click)="openDialog(note)">{{note.title}}</span>
                        <img class="note-icons" src="../../../assets/icons/push_pin_FILL0_wght0_GRAD0_opszNaN.svg" alt="unpinned" (click)="pinNote(note.id)" *ngIf="!note.isPined">
                        <img class="note-icon" src="../../../assets/icons/push_pin_FILL1_wght400_GRAD0_opsz40.svg" alt="pinned" *ngIf="note.isPined" (click)="pinNote(note.id)">
                    </mat-card-content>

                    <mat-card-content class="content" (click)="openDialog(note)">
                        {{note.description}}
                    </mat-card-content>
                    <mat-chip-option class="chips" *ngFor="let remind of note.reminder"
                        (mouseenter)="note.showIcon = true" (mouseleave)="note.showIcon = false"
                        style="background-color: rgba(0,0,0,.08);"
                        (removed)="removeReminder(note.id,note.reminder)">{{((note.reminder).toString()).replace(excludedData,
                        '')|date:'dd MMM, hh:mm a'}}
                        <!-- {{((note.reminder).toString())|date:'short'}} -->
                        <button matChipRemove [attr.aria-label]="'remove ' + note.id" *ngIf="note.showIcon">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-option>
                    <mat-chip-option class="chips" *ngFor="let label of note.noteLabels"
                        (mouseenter)="label.showIcon = true" (mouseleave)="label.showIcon = false"
                        style="background-color: rgba(0,0,0,.08);" (removed)="remove(label.id,note.id)">
                        {{label.label}}
                        <button matChipRemove [attr.aria-label]="'remove ' + label.id" *ngIf="label.showIcon">
                            <mat-icon>cancel</mat-icon>
                        </button>
                    </mat-chip-option>

                    <div class="collab-div">
                        <div *ngFor="let collab of note.collaborators; let i = index">
                            <div class="logo" matTooltip="{{collab.email}}" [ngClass]="'element-bg-' + (i % 10 + 1)">{{(collab.firstName).charAt(0)}} </div>
                        </div>
                    </div>
                </div>

                <mat-card-actions class="icons">
                    <app-icons class="icons2" [noteinfo]="note" (refreshpageEvent)="refreshDisplaydata()"></app-icons>
                </mat-card-actions>
            </div>
        </mat-card>
    </div>
</div>